.md-content {
  align-content: center;
  display: flex;
}

.md-content md-card {
  max-height: initial;
}


md-input {
  width: 100%;
}

/*form :after{*/
/*content:'';*/
/*clear:both;*/
/*display:block;*/
/*}*/
