
.header {
  color: #009688;
  min-height: 70px;
}

.logo {
  display: block;
  width: 100px;
  height: 80px;
  margin-left: 20px;
  margin-right: 5px;
}
.text-logo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 14px;
}

.fill-remaining-space {
flex: 1 1 auto;
}

simple-notifications >>> div.simple-notification-wrapper {
  width: 40%;
}

md-icon {
  /*padding-top: 15px;*/
}

about-button md-icon {
  color: white;
  vertical-align: text-bottom;
}
