<main-layout layout="row" flex="100">
  <div layout="column" flex="100">

    <!-- Header -->
    <div layout="row" class="header">
      <div layout="row" flex="100">
        <div flex="50" layout="row" layout-align="start center">
          <!--<logo-svg></logo-svg>-->
          <span class="logo"></span>
          <div class="text-logo">MOOCer</div>
        </div>

        <div flex="50" layout="row" layout-align="end center">
          <profile-button></profile-button>
          |
          <about-button></about-button>
        </div>
      </div>

      <!--<div flex="100" layout="row" layout-align="start center" md-colors="{background: 'accent'}">-->
      <!--<md-button class="md-icon-button md-primary" ng-click="header.toggleSideNav()">-->
      <!--<md-icon>menu</md-icon>-->
      <!--</md-button>-->
      <!--<md-tabs flex="100" class="md-accent">-->
      <!--<md-tab label="Projects" ui-sref="home" md-active="$state.includes('home')" class="md-primary"></md-tab>-->
      <!--<md-tab label="Repos" ui-sref="repos" md-active="$state.includes('repos')"></md-tab>-->
      <!--</md-tabs>-->
      <!--</div>-->

    </div>

    <md-toolbar color="primary">
      <button  md-button class="md-icon-button" aria-label="Home" title="Home">
        <md-icon>home</md-icon>
      </button>
      <button  md-button class="md-icon-button" aria-label="Class catalogue" title="Class catalogue">
        <md-icon>store</md-icon>
      </button>
      <button  md-button class="md-icon-button" aria-label="Classes" title="Classes">
        <md-icon>class</md-icon>
      </button>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <button  md-button class="md-icon-button" aria-label="Progression" title="Progression">
        <md-icon>dashboard</md-icon>
      </button>
      <button  md-button class="md-icon-button" aria-label="Awards" title="Awards">
        <md-icon>cake</md-icon>
      </button>
    </md-toolbar>
    <!-- Content -->
    <!--<div layout="row" flex="100" layout-align="center center" class="container body-container" style="-->
    <!--overflow: auto;-->
    <!--top: 200px;-->
    <!--bottom: 0;-->
    <!--position: fixed;-->
    <!--width: 100%;-->
    <!--">-->
    <router-outlet></router-outlet>
    <!--</div>-->
  </div>
</main-layout>

<simple-notifications [options]="notificationsOptions"></simple-notifications>

