
.users {
    position: relative;
    display: flex;
}

.user-list {
    overflow-y: scroll;
    width: 100%;
}

/*.user:first-child {*/
    /*border-top: 1px solid #CCC;*/
/*}*/

.edit-users-buttons {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.user-list user-card.user {
    flex-shrink: 0;
}
