.paragraph {
  /*width: 100%;*/
  position: relative;
}
.paragraph .buttons {
  /*width: 10%;*/
  /*min-height: 10px;*/
  /*float: left;*/
  padding-right: 1%;
  padding-left: 1%;
}
.paragraph .content_box {
  width: 89%;
  /* min-height: 10px;*/
  float: left;
  margin-bottom: 6px;

  border-bottom: 1px solid #cccccc;
  /*border-radius: 3px;*/

  /*-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);*/
}
.paragraph .content {
  /*padding: 10px;*/
}
.paragraph:after {
  content: '';
  display: block;
  clear: both;

}

.paragraph-buttons {
  position: absolute;
  right:0;
  top:0;
}
