.course-list {
  overflow: auto;
  width: 100%;
}

.course {
  display: flex;
}

.courseTitle {
  text-align: center;
  margin-bottom: 0;
}

.sidenavContent {
  height: 100%;
}

.content {
  overflow: auto;
}

.part_header h3 {
  text-align: center;
}

md-sidenav-layout md-sidenav {
  box-shadow: none;
  background-color: #E0F2F1;
}

.toggleSchedule {
  position: absolute;
  left: -19px;
  background-color: #E0F2F1;
}

md-content.class {
  padding-left: 0;
  padding-top: 0;
}

.content-part-buttons {
  position: absolute;
  right:0;
  top:0;
}

.page-navigation {
  text-align: center;
}
