.formation-list {
  overflow: auto;
  width: 100%;
}

.formation {
  display: flex;
}

.content {
  overflow: auto;
}

.part_header h3 {
  text-align: center;
}

md-sidenav-layout md-sidenav {
  box-shadow: none;
  background-color: inherit;
}

.toggleSchedule {
  position: absolute;
}

