<md-content class="class" flex="100" layout="column" layout-align="start stretch" *ngIf="courses">
  <div class="list" layout="column" layout-align="start stretch">
    <div flex="100" layout="row" layout-align="start center">
      <h3>Which course do you want to continue ?</h3>
    </div>
    <div class="course-list" layout="row" layout-wrap layout-align="space-around" layout-margin
         scroll-detector="course-list">
      <course-card class="course" flex="30" *ngFor="let course of courses"
                   [course]="course"></course-card>
    </div>
  </div>
  <div class="content" layout="row" layout-wrap layout-align="space-around" layout-margin>
  </div>
</md-content>
<md-content class="class" flex="100" layout="column" layout-align="start stretch"
            *ngIf="course">
  <md-sidenav-layout flex="100">

    <md-sidenav #schedule (open)="scheduleButton.focus()" [opened]="true" mode="side" align="start">
      <class-schedule [course]="course" (notifySelectedPart)='onNotifySelectedPart($event)' layout="row"
                      layout-align="start stretch"></class-schedule>
    </md-sidenav>
    <div layout="column" layout-align="start stretch" class="sidenavContent" [class.edited]="edited">
      <button #scheduleButton class="toggleSchedule md-primary" md-icon-button (click)="schedule.toggle()">
        <md-icon>menu</md-icon>
      </button>

      <!--Title-->
      <div class="courseTitle" layout="row" layout-align="start stretch">
        <H1 flex="100">{{course.name}}</H1>
        <div class="editor" flex="100">&nbsp;</div>
      </div>
      <!--Header-->
      <div class="part_header" layout="row" layout-align="start stretch">
        <h3 flex="100">{{selectedPart.title}}</h3>
        <div class="editor" flex="100" [class.error]="editorInError">
          <textarea [(ngModel)]="selectedPart.title" (keyup)="editorChange()" (change)="editorChange()"></textarea>
        </div>
      </div>

      <!--Content-->
      <div class="content" layout="column" layout-align="start stretch">
        <div class="content-part-buttons">
          <button md-icon-button (click)="toggleEditMode()" [class.md-accent]="edited" [class.md-primary]="!edited" title="Edit page">
            <md-icon>edit</md-icon>
          </button>
        </div>
        <!--Page navigation-->
        <!--<div class="page-navigation" *ngIf="selectedPartLevel > 1">Pages navigation....</div>-->
        <!--Page-->
        <div class="page" layout="column" layout-align="start stretch">
          <paragraph *ngFor="let paragraph of selectedPart.contents; let i = index" [data]="paragraph"
                     [courseId]="course.id" [selectedPartNums]="selectedPartNums" [paragraphNum]="i"></paragraph>
        </div>
      </div>

    </div>
  </md-sidenav-layout>
</md-content>

