.schedule {
  /*padding-right: 8px;*/
}

.level1 {
  padding: 0.6em 0;
  /*margin: 0.2em;*/
}
.level1 button {
  cursor: pointer;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-color: inherit;
  border: none;
  text-align: left ;
  padding: 10px 0;
}
.level2 button {
  cursor: pointer;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-color: inherit;
  border: none;
  text-align: left ;
  font-size: 0.9em;

  margin-left: 30px;
  margin-top: 3px;

  padding: 10px 5px;
}

.level1 button.selected, .level2 button.selected {
  /*background-color: #DDDDDD;*/
  /*font-weight: bold;*/
  text-shadow: 1px 0 0 black;
}

.level1 button:hover, .level2 button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.less {
  display: none;
}
.more {
  display: inherit;
}
md-icon.no-child {
  display: none;
}
.level1.open .less {
  display: inherit;
}
.level1.open .more {
  display: none;
}
.level1 .no-child .less, .level1 .no-child .more {
  display: none;
}
.level1 .no-child md-icon.no-child {
  display: inherit;
}

.level2 {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: height 5.5s, visibility 0s, opacity 0.5s linear;
}
.level1.open .level2 {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: height 5.5s, visibility 0s, opacity 0.5s linear;
}

.part-title {
  padding-right: 1em;
}

