.menu {
  max-height: 3em;
  min-height: 3em;
}

.menu button {
  padding-top: 6px;
  background-color: #EEEEEE;
  font-size: 0.8em;
}

.menu button md-icon {
  font-size: 20px;
}

.menu button span {
  vertical-align: super;
}
.menu button span, .menu button .asc, .menu button .desc {
  display: none;
}

.menu .followed-none .followed-none, .menu .followed-already .followed-already, .menu .followed-not-already .followed-not-already,
.menu .favorite-none .favorite-none, .menu .favorite-mine .favorite-mine, .menu .favorite-not-mine .favorite-not-mine,
.menu .asc .asc, .menu .desc .desc,
.menu .sort-date .sort-date, .menu .sort-note .sort-note, .menu .sort-my-interest .sort-my-interest {
  display: inherit;
}

.menu .followed-none, .menu .favorite-none {
  color: #757575;
}

.catalogue-list {
  position: relative;
  overflow: auto;
  width: 100%;
  /*height: 100%;*/
  /*padding-bottom: 2em;*/
}

.course {
  display: flex;
}
.catalogue.md-content {
  display: flex;
}


.content-part-buttons {
  position: absolute;
  right:0;
  top:0;
  z-index: 100;
}

.content-part-buttons .warning {
  display: none;
  position: absolute;
  top: -0.8em;
  left: 0.4em;
  font-size: 3em;
}

.content-part-buttons .md-warn .warning {
  display: inherit;
}

course-card {
  /*margin: 8px;*/
}
