<div class="class md-content" flex="100" layout="column" layout-align="start stretch" *ngIf="course">
  <md-sidenav-layout flex="100" layout="column">

    <md-sidenav #schedule (open)="scheduleButton.focus()" [opened]="true" mode="side" align="start">
      <class-schedule [course]="course" (notifySelectedPart)='onNotifySelectedPartNum($event)'
                      [selectedPartNums]="selectedPartNums" layout="row"
                      layout-align="start stretch"></class-schedule>
    </md-sidenav>
    <div layout="column" layout-align="start stretch" class="sidenavContent" [class.edited]="edited">
      <button #scheduleButton class="toggleSchedule md-primary" md-icon-button (click)="schedule.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <div class="content-part-buttons" *ngIf="userIsAdmin">
        <button md-icon-button (click)="moveUp()" class="md-primary"
                *ngIf="edited && (selectedPartNums[selectedPartNums.length-1] != 0)"
                md-tooltip="Move up" tooltip-position="before">
          <md-icon>arrow_upward</md-icon>
        </button>
        <button md-icon-button (click)="moveDown()" class="md-primary" *ngIf="edited && !selectedPartIsLast"
                md-tooltip="Move down" tooltip-position="before">
          <md-icon>arrow_downward</md-icon>
        </button>
        <button md-icon-button (click)="addPageChild()" class="md-primary" *ngIf="edited && (selectedPartLevel < 2)"
                md-tooltip="Add a child page" tooltip-position="before">
          <md-icon>playlist_add</md-icon>
        </button>
        <button md-icon-button (click)="addPageSibling()" class="md-primary" *ngIf="edited"
                md-tooltip="Add a sibling page" tooltip-position="before">
          <md-icon>note_add</md-icon>
        </button>
        <button md-icon-button (click)="openFilesManagerDialog()" class="md-primary" *ngIf="edited"
                md-tooltip="Manage files" tooltip-position="before">
          <md-icon>attachment</md-icon>
        </button>
        <button md-icon-button (click)="deletePage()" class="md-primary" [class.md-warn]="deletePartClicked"
                *ngIf="edited"
                md-tooltip="Delete page" tooltip-position="before">
          <md-icon class="delete">delete</md-icon>
          <md-icon class="warning">announcement</md-icon>
        </button>
        <button md-icon-button (click)="toggleEditMode()" [class.md-accent]="edited" [class.md-primary]="!edited"
                md-tooltip="Edit page" tooltip-position="before">
          <md-icon>edit</md-icon>
        </button>
      </div>

      <!--Title-->
      <div class="courseTitle" layout="row" layout-align="start stretch">
        <H1 flex="100">{{course.name}}</H1>
        <div class="editor" flex="100">&nbsp;</div>
      </div>
      <!--Header-->
      <div class="part_header" layout="row" layout-align="start stretch">
        <h1 flex="100">{{selectedPart.title}}</h1>
        <div class="editor" flex="100" [class.error]="editorInError">
          <textarea [(ngModel)]="selectedPart.title" (keyup)="editorChange()" (change)="editorChange()" title="Page title"></textarea>
        </div>
      </div>

      <!--Content-->
      <div class="content" layout="column" layout-align="start stretch" scroll-detector="paragraph-list">
        <!--Page navigation-->
        <!--<div class="page-navigation" *ngIf="selectedPartLevel > 1">Pages navigation....</div>-->
        <!--Page-->
        <div class="page" layout="column" layout-align="start stretch">
          <paragraph *ngFor="let paragraph of selectedPart.contents; let i = index" [data]="paragraph"
                     [courseId]="course.id" [selectedPartNums]="selectedPartNums" [paragraphNum]="i"
                     [paragraphCount]="selectedPart.contents.length"
                     [edited]="edited"
                     (notifySelectedPart)='onNotifySelectedPartContent($event)'></paragraph>
        </div>
      </div>

    </div>
  </md-sidenav-layout>
</div>

