<md-card class="course-progression" flex="100" layout="row" layout-align="start stretch">
  <course-card class="course" [course]="course" flex="30"></course-card>
  <div class="progression" flex="70" layout="column" layout-align="start stretch">
    <div *ngFor="let part of course.parts" class="progression-part" flex="100" layout="row" layout-align="start center">
      <div class="part-title">{{part.title}}</div>
      <div class="progression-stat">
        <div class="stat1" [style.width]="(part.countParagraph ? 100*(part.countRead/part.countParagraph) : 0) + '%'" title="Read"></div>
        <div class="stat2" [style.width]="(part.countParagraph ? 100*(part.countCheckOk/part.countParagraph) : 0) + '%'" title="Good answer"></div>
        <div class="stat3" [style.width]="(part.countParagraph ? 100*(part.countCheckKo/part.countParagraph) : 0) + '%'" title="Wrong answer"></div>
      </div>
      <div class="percent">{{(part.countParagraph ? 100*(part.countRead+part.countCheckOk)/part.countParagraph : 0) | number:'1.1-1'}} %</div>
    </div>
  </div>
</md-card>
