<div class="paragraph" layout="row" layout-align="start stretch">
  <div class="paragraph-buttons">
  </div>
  <div class="display" flex="100" layout="row" layout-align="start stretch">
    <div class="buttons" flex="20" layout="column" layout-align="start stretch">
      <button md-raised-button color="accent" [disabled]="isClosed(data)" (click)="checkUserChoice()">Check</button>
      <span class="nb-check" *ngIf="data.userCheckCount >= data.maxCheckCount">No more check ({{data.maxCheckCount}} max)</span>
      <span class="nb-check" *ngIf="(data.userCheckCount <= 1 ) && (data.userCheckCount <  data.maxCheckCount)">{{data.userCheckCount}} check done ({{data.maxCheckCount}} max)</span>
      <span class="nb-check" *ngIf="(data.userCheckCount >  1 ) && (data.userCheckCount <  data.maxCheckCount)">{{data.userCheckCount}} checks done ({{data.maxCheckCount}} max)</span>
    </div>
    <div class="content_box" flex="80">
      <div class="content" *ngIf="data.content.type == data.paragraphContentType.Radio">
        <div class="content_label" [innerHTML]="data.content.label_html"></div>
        <label *ngFor="let question of data.content.questions_html; let i = index"
               [class]="'content_type_'+data.content.type" [class.check_ok]="data.userCheckOK"
               [class.check_ko]="data.userCheckOK === false">
          <input type="radio" [name]="data.id" [disabled]="isClosed(data)" [value]="i"
                 [checked]="data.userChoice+'' == ''+i" (click)="data.userChoice = ''+i; saveUserChoice()">
          <div [innerHTML]="question"></div>
          <div *ngIf="isClosed(data) && (data.userCheckOK === false) && (data.answer+'' == ''+i)" class="answer"
               title="answer"><p>&#x2714;</p></div>
        </label>
      </div>
      <div class="content" *ngIf="data.content.type == data.paragraphContentType.Checkbox">
        <div class="content_label" [innerHTML]="data.content.label_html"></div>
        <label *ngFor="let question of data.content.questions_html; let i = index"
               [class]="'content_type_'+data.content.type" [class.check_ok]="data.userCheckOK"
               [class.check_ko]="data.userCheckOK === false">
          <input type="checkbox" [name]="data.id" [disabled]="isClosed(data)" [value]="i"
                 [checked]="(data.userChoice.indexOf(''+i) > -1)" (change)="checkboxChanged($event)">
          <div [innerHTML]="question"></div>
          <div *ngIf="isClosed(data) && (data.userCheckOK === false) && data.answer && (data.answer.indexOf(''+i) > -1)"
               class="answer" title="answer"><p>&#x2714;</p></div>
        </label>
      </div>
      <div class="content" *ngIf="data.content.type == data.paragraphContentType.Text">
        <div class="content_label" [innerHTML]="data.content.label_html"></div>
        <label [class]="'content_type_'+data.content.type" [class.check_ok]="data.userCheckOK"
               [class.check_ko]="data.userCheckOK === false">
          <input type="text" [name]="data.id" [disabled]="isClosed(data)" [(ngModel)]="data.userChoice"
                 [size]="data.content?.size" (ngModelChange)="saveUserChoice()">
          <div [innerHTML]="data.content.question_html"></div>
          <div *ngIf="isClosed(data) && (data.userCheckOK === false) && data.answer" class="answer" title="answer"><p>
            {{data.answer}}</p></div>
        </label>
      </div>
    </div>
  </div>
  <div class="editor" flex="100" [class.error]="editorInError">
    <textarea [(ngModel)]="editableJson" (keyup)="editorChange()" (change)="editorChange()">
    </textarea>
  </div>
</div>
