<div layout="row" layout-align="start stretch" flex="100"  [class.edited]="edited" [class.published]="course.publishDate" class="course-card-content">
  <div class="course-card-buttons" *ngIf="edited">
    <button md-icon-button (click)="deleteCourse()" class="md-primary" [class.md-warn]="deleteCourseClicked" title="Delete course">
      <md-icon class="delete">delete</md-icon>
      <md-icon class="warning">announcement</md-icon>
    </button>
    <button md-icon-button (click)="publishCourse()" class="md-primary" title="{{course.publishDate ? 'Unpublish' : 'Publish'}}">
      <md-icon class="publish">public</md-icon>
      <md-icon class="clear">clear</md-icon>
    </button>
    <button md-icon-button (click)="resetCourse()" class="md-primary" title="Reset users works">
      <md-icon class="reset">settings_backup_restore</md-icon>
    </button>
  </div>
  <md-card class="course" flex="100" (click)="launchClass($event)" (visibilityChange)="visibilityChange($event)">
    <md-card-subtitle class="created-date">{{course.created | date}}</md-card-subtitle>
    <md-card-subtitle class="publish-date">{{course.publishDate | date}}</md-card-subtitle>
    <md-card-title>{{course.name}}</md-card-title>
    <md-card-content>
      {{course.description}}
    </md-card-content>
    <div class="md-card-footer" layout="row" layout-align="space-between center">
    <span class="note" [title]="course.note+' from '+course.noteCount+' notes'">
      <div>
        <div class="note_1" [style.width.em]="7.5*course.note/5">
          <div class="note_1_1"><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon></div>
        </div>
        <div class="note_2"><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon><md-icon>star_rate</md-icon></div>
      </div>
    </span>
      <div class="followed" *ngIf="(course.dateFollowed != null)">
        <div>
          <div class="followed_1" [style.width.em]="7*course.percentFollowed">
            <div class="followed_1_1">{{course.percentFollowed | percent:'1.0-0'}} done</div>
          </div>
          <div class="followed_2">{{course.percentFollowed | percent:'1.0-0'}} done</div>
        </div>
      </div>
      <span class="favorite">
      <button md-button id="favorite-button" aria-label="Toggle this course as your favorite or not"
              (click)="toggleFavorite($event)" class="md-icon-button">
        <md-icon *ngIf="!course.isFavorite" aria-label="Not favorite" title="Not favorite" class="notFavorite">favorite_border</md-icon>
        <md-icon *ngIf="course.isFavorite" aria-label="Favorite" title="Favorite" class="favorite">favorite</md-icon>
      </button>
    </span>
    </div>
    <div class="clipping-banner">
      <div class="banner new" *ngIf="course.new">new !!</div>
      <div class="banner done" *ngIf="course.done">done</div>
      <div class="banner progress" *ngIf="course.inProgress">in progress</div>
      <div class="banner not-published" *ngIf="!course.publishDate">not ready yet</div>
    </div>
  </md-card>
  <div class="editor" flex="100" layout="column" layout-align="center-stretch">
      <md-input placeholder="Title" [(ngModel)]="course.name" (ngModelChange)="saveCourse()"></md-input>
      <md-input placeholder="Description" [(ngModel)]="course.description" (ngModelChange)="saveCourse()"></md-input>
  </div>
</div>
