<div class="md-content awards" flex="100" layout="column" layout-align="start stretch" [class.edited]="edited">

  <div class="edit-awards-buttons" *ngIf="userIsAdmin">
    <button md-icon-button (click)="addAward()" class="md-primary" *ngIf="edited"
            title="Add an award">
      <md-icon>add</md-icon>
    </button>
    <button md-icon-button (click)="toggleEditMode()" [class.md-accent]="edited" [class.md-primary]="!edited"
            title="Edit awards">
      <md-icon>edit</md-icon>
    </button>
  </div>

  <div class="award-list" layout="row" layout-align="start start" layout-wrap flex="100">

    <H2 flex="100">Award earned</H2>
    <award-card class="award earned" *ngFor="let award of awardsEarned"    [class.finished]="award.userCount >= award.limitCount" [edited]="edited" [award]="award" (notifyAwardsChange)='onAwardsChange($event)'>
    </award-card>

    <H2 class="next" flex="100">Next ones</H2>
    <award-card class="award next"   *ngFor="let award of awardsNotEarned" [class.finished]="award.userCount >= award.limitCount"  [edited]="edited" [award]="award" (notifyAwardsChange)='onAwardsChange($event)'>
    </award-card>
  </div>
</div>
