body, input {
  /*text-align: left;*/
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}

button, input, select, textarea, form#wiki_revision .CodeMirror {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
